.CompanyOverview {
  margin-left: 2rem;
  margin-top: 2rem;
}

.tickersymbol {
  margin-top: -0.3rem;
}

.chips {
  margin-left: -0.3rem;
  margin-top: -0.3rem;
}

.tickerprice {
  margin-top: -0.5rem;
  margin-left: -0.3rem;
  margin-bottom: -0.5rem;
}

.tickerchange {
  margin-top: 1.15rem;
}

.thirdrowvalues {
  padding-top: 0.3rem;
}
